@import url("https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  display: inline;
}

main {
  padding: 20px;
  display: flex;
  gap: 1.5rem;
}

aside {
  flex: 1;
}

footer {
  padding: 20px;
  color: #fff;
  background-color: #3A4D39;
  text-align: center;
}

h2 {
  color: #3A4D39;
  text-align: center;
}

p {
  margin: 10px auto;
}

table {
  border-collapse: collapse;
  margin: 10px auto;
}

td {
  border: none;
  padding: 5px 10px;
}

#content {
  flex: 5;

  display: flex;
  flex-flow: column nowrap;
  gap: 1rem 2rem;
}

.jumbotron {
  font-size: 20px;
  padding: 30px;
  background-color: #3A4D39;
  text-align: center;
  color: white;
}

.profile-image {
  width: 300px;
  border-radius: 500px;
  object-position: center center;
}

.profile header {
  text-align: center;
}

.profile img {
  width: 200px;
  border-radius: 500px;
  object-position: center center;
}

.card {
  box-shadow: 0 2px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  padding: 20px;
}

.profile.card {
  text-align: center;
  margin: 20px;
}

.social-links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
}

.social-links li {
  text-align: center;
  margin: 0;
}

.social-links li a {
  text-decoration: none;
}

.social-links li a img:hover {
  transform: scale(1.2); /* Membesarkan gambar saat cursor diarahkan */
}

.social-links li a img {
  border-radius: 50%;
  width: 100px;
  max-width: 50px; /* Anda dapat menyesuaikan ukuran maksimum sesuai kebutuhan */
  height: auto; /* Ini akan mempertahankan aspek rasio gambar */
  margin-right: 10px; /* Jarak antara logo dan teks tautan */
}

@media screen and (max-width: 1200px) {
  main {
    flex-flow: column nowrap;
  }

  main aside {
    align-self: center;
  }
}

@media screen and (max-width: 768px) {
  nav ul {
    justify-content: center;
  }

  main aside {
    align-self: stretch;
  }
}